.project-list {
  margin-top: 40px;
}

.project-list__cards {
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  padding: 20px;
  margin-bottom: 20px;
}

.project-list a {
  padding: 16px;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
}
.project-list h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}
.project-list p {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-list .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.project-list ul {
  margin: 10px 0;
  display: flex;
}
.project-list li {
  margin-right: 10px;
}
.project-list .avatar {
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  .project-list p {
    color: var(--text-color);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .project-list h4 {
    font-size: 0.9em;
    color: var(--heading-color);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .project-list ul {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .project-list a {
    padding: 16px;
    text-decoration: none;
    width: 500px;
  }
}
